<html lang="en">

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<meta name="description"
		      content="Pirate webradio, running 24/7">
		<meta name="keywords"
		      content="webradio, music, casual">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/new-style.css')}}">
		<link href="https://fonts.googleapis.com/css?family=Tomorrow&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
		<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<title>tunza.fm - casual webradio</title>
	</head>

	<body>
	  <div class="player-container">
        <div class="player-box">
          <br>
          <span class="player-txt"> ~  tunza.fm  ~ </span>
          <br>
          <div class="player-button">
            <button id="bt-txt" class="player-button-txt" onclick="toggle_play()">listen now</button>
            <button class="button" style="border: none;" onclick="toggle_play()"><i id="bt-icon"
                                                                                    class="fa fa-volume-up  fa-3x"></i></button>
          </div>
          <br>
          <audio id="player">
            <source src="https://fragal.eu/radio">
          </audio>
          <p id="title"> {{ title }} </p>
          <small id="artist"> {{ artist }} </small>
          <br>
          <small id="album"> {{ album }} </small>
          <small id="songdate">- {{ songdate }} </small>
        </div>
        <div class="playlist-box">
          <br>
          <div class="playlist-title">
            <span> [ up next in: </span>
            <span id="missing">{{ missing }}</span>
            <span> ]</span>
          </div>
          <div class="playlist-text">
            <ul id="playlist-ul"></ul>
          </div>
          <br>
        </div>
		</div>
	  <script src="{{ url_for('static', filename='js/play.js')}}"> </script>
      <script src="{{ url_for('static', filename='js/mpd.js')}}"> </script>
	  <script src="https://kit.fontawesome.com/37c4968eb2.js" crossorigin="anonymous"></script>
	</body>
</html>
